* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  background-color: #8A51FC;
}

.logo-1 {
  width: 300px;
  display: block;
  margin: 20px auto;
}

.logo-2 {
    width: 150px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label  {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    color:#555555 ;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    margin-bottom: 24px;
    padding-left: 18px;
}

.button-convert {
    width: 100%;
    height: 48px;
    background-color: #772FD3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

button:active {
    background: #8b0453;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 14px;
    color: #777777;
}

.currency-value, .currency-value-to-convert {
    font-weight: 700;
    font-size: 18px;
    color: #555555;
}

.paragraph-fim {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
}